<section class="search-container">
    <h2>Search Recipes</h2>
    <form>
        <input type="text" id="search" name="search" placeholder="Search for recipes..." value={{search}}>
        <button type="submit">Search</button>
    </form>
    <div class="search-results">
        {{>catalog}}
    </div>
</section>